# Turn on the Delete Mode here:

DELETE_MODE = False


# Set up the server link:
# Use this link for testing phrase
# SERVER='http://localhost:9000/api/export'
# USER='daniel.h.funk@gmail.com'
# PASS='ereiamjh'
# PRIVATE_FILE='private_key.pem'

# Use this link for actual phrase
# SERVER = 'http://localhost:9000/admin/export'
#

# Use this link for Laura's server testing
SERVER = 'http://ec2-54-208-207-125.compute-1.amazonaws.com:8080/admin/export'
USER='daniel.h.funk@gmail.com'
PASS='ereiamjh'
PRIVATE_FILE='private_key.pem'


# Get the date
DATE_FORMAT = "%b_%d_%Y"
TIME_FORMAT = "%H_%M_%S"


# Data storage path in Diheng's laptop
# PATH = "/Users/Diheng/Box Sync/"
#

# Data storage path in Laura's server
PATH = "/Users/dz8t/Documents/TESTING_DATA/"
