version: 1


formatters:
  default:
    format: '%(asctime)s %(name)-15s %(levelname)-8s %(message)s'



handlers:

  console:
    class : logging.StreamHandler
    formatter: default
    level   : DEBUG
    stream  : ext://sys.stdout

  dailyLog:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: default
    filename: logs/Daily.log
    level: DEBUG
    backupCount: 366
    when: midnight

  errorLog:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: default
    filename: logs/Error.log
    level: WARNING
    backupCount: 366
    when: midnight

  emailNotify:
    class: logging.handlers.SMTPHandler
    mailhost: localhost
    level: CRITICAL
    fromaddr: my_app@domain.tld
    toaddrs:
      - support_team@domain.tld
      - dev_team@domain.tld
    subject: Houston, we have a problem.


loggers:

  export.decrypt:
    level: DEBUG
    handlers: [console, dailyLog, errorLog, emailNotify]
    propagate: false

  debug:
    level: DEBUG
    handlers: [console]
    propagate: false


  daily:
    level: INFO
    handlers: [dailyLog]
    propagate: false

  error:
    level: WARNING
    handlers: [errorLog]
    propagate: false

  notify:
    level: CRITICAL
    handlers: [emailNotify]
    propagate: false

root:
  level: DEBUG
  handlers: [console]
  propagate: true


