version: 1

disable_existing_loggers: false

incremental: false

formatters:

  default:
    format: '%(asctime)s %(name)-15s %(levelname)-8s %(message)s'

  email:
    format: "

%(asctime)s:


Hello,


Sorry to tell you that it seems something is wrong on the MindTrails data collecting server, and below is the error
message:


%(asctime)s %(name)-15s %(levelname)-8s %(message)s

Hope that you are not sleeping now. Please check it up immediately!


Your faithfully,

Mindtrails Android

Martin


Exception Information:

"


handlers:

  console:
    class : logging.StreamHandler
    formatter: default
    level   : DEBUG
    stream  : ext://sys.stdout

  debugLog:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: default
    filename: /Users/dz8t/Documents/TESTING_DATA/logs/Debug.log
    level: DEBUG
    backupCount: 366
    when: midnight

  dailyLog:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: default
    filename: /Users/dz8t/Documents/TESTING_DATA/logs/Daily.log
    level: INFO
    backupCount: 366
    when: midnight

  errorLog:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: default
    filename: /Users/dz8t/Documents/TESTING_DATA/logs/Error.log
    level: WARNING
    backupCount: 366
    when: midnight

  sandyLog:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: email
    filename: /Users/dz8t/Documents/TESTING_DATA/logs/Break_down.log
    level: CRITICAL
    backupCount: 366
    when: midnight


  emailNotify:
    class: logging.handlers.SMTPHandler
    level: CRITICAL
    formatter: email
    mailhost: !!python/tuple [smtp.gmail.com, 587]
    fromaddr: projectimplicitmentalhealth1@gmail.com
    toaddrs: [dihengz@gmail.com]
    subject: '[MindTrais]Something goes wrong'
    credentials: !!python/tuple [projectimplicitmentalhealth1@gmail.com, b3BFbaOLuDTe]
    secure: !!python/tuple [] # force to start tls

loggers:

  export:
    handlers: [console, dailyLog, errorLog, debugLog, emailNotify, sandyLog]
    propagate: false

  export.decrypt:
    handlers: [console, dailyLog, errorLog, debugLog, emailNotify, sandyLog]
    propagate: false

  export.safeRequest:
    handlers: [console, dailyLog, errorLog, debugLog, emailNotify, sandyLog]
    propagate: false

  export.safeDelete:
    handlers: [console, dailyLog, errorLog, debugLog, emailNotify, sandyLog]
    propagate: false

  export.safeWrite:
    handlers: [console, dailyLog, errorLog, debugLog, emailNotify, sandyLog]
    propagate: false

  export.createFile:
    handlers: [console, dailyLog, errorLog, debugLog, emailNotify, sandyLog]
    propagate: false

  export.safeExport:
    handlers: [console, dailyLog, errorLog, debugLog, emailNotify, sandyLog]
    propagate: false

  export.safeKeep:
    handlers: [console, dailyLog, errorLog, debugLog, emailNotify, sandyLog]
    propagate: false

  export.pathCheck:
    handlers: [console, dailyLog, errorLog, debugLog, emailNotify, sandyLog]
    propagate: false

root:
  level: DEBUG
  handlers: [console, dailyLog, errorLog, debugLog, emailNotify, sandyLog]
  propagate: true


